body, html {
  height: 100%;
  width:100%;
}

#loginsection{
    background-image: url("../images/LoginBackgroundDetailed.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#registrationsection{
    background-image:url("../images/RegistrationBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

#about-slide1{
  background-image:url("../images/AboutBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

#footer,#header
{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: transparent;
		z-index:9;
		color: #000;
}

#header{
  top:0;
  text-align:right;
  font-family:Arial Rounded MT;
}

#footer{
  bottom:0;
}

/* #header ul{
	padding: 0 0px;
}
#header li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#header li a:hover{
	text-decoration:underline;
}
#header li{
	display:inline-block;
	position:relative;
} */

.bg-main
{
    background:#FAFAFA;
}

.bg-bg
{
  background:#194055;
}

.bg-g
{
  background:#75BA40;
}
.logo-word
{
    background-image: url("../images/Layboard Logo.png");
    background-size: 100% 100%;
    background-position:center;
    width:160px;
    height:40px;
}

.btn-main {
    color: #fff;
    background-color: #75BA40;
    border-color: #75BA40;
    font-family: Arial Rounded MT;
}
  
.btn-main:hover {
    color: #fff;
    background-color: #5E9736;
    border-color: #5E9736;
 }
  
.btn-main:focus, .btn-main.focus {
color: #fff;
background-color: #5E9736;
border-color: #5E9736;
box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-main.disabled, .btn-main:disabled {
color: #fff;
background-color: #5E9736;
border-color: #5E9736;
}

.btn-main:not(:disabled):not(.disabled):active, .btn-main:not(:disabled):not(.disabled).active,
.show > .btn-main.dropdown-toggle {
color: #fff;
background-color: #5E9736;
border-color: #5E9736;
}

.btn-main:not(:disabled):not(.disabled):active:focus, .btn-main:not(:disabled):not(.disabled).active:focus,
.show > .btn-main.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-sub {
    color: #fff;
    background-color: #194055;
    border-color: #194055;
    font-family: Arial Rounded MT;
  }
  
  .btn-sub:hover {
    color: #fff;
    background-color: #102A38;
    border-color: #102A38;
  }
  
  .btn-sub:focus, .btn-sub.focus {
    color: #fff;
    background-color: #102A38;
    border-color: #102A38;
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  }
  
  .btn-sub.disabled, .btn-sub:disabled {
    color: #fff;
    background-color: #102A38;
    border-color: #102A38;
  }
  
  .btn-sub:not(:disabled):not(.disabled):active, .btn-sub:not(:disabled):not(.disabled).active,
  .show > .btn-sub.dropdown-toggle {
    color: #fff;
    background-color: #194055;;
    border-color: #194055;;
  }
  
  .btn-sub:not(:disabled):not(.disabled):active:focus, .btn-sub:not(:disabled):not(.disabled).active:focus,
  .show > .btn-sub.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  }

  .btn-outline-sub {
    color: #194055;
    border-color: #194055;
    font-family: Arial Rounded MT;
  }
  
  .btn-outline-sub:hover {
    color: #fff;
    background-color: #194055;
    border-color: #194055;
  }
  
  .btn-outline-sub:focus, .btn-outline-sub.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }
  
  .btn-outline-sub.disabled, .btn-outline-sub:disabled {
    color:#194055;
    background-color: transparent;
  }
  
  .btn-outline-sub:not(:disabled):not(.disabled):active, .btn-outline-sub:not(:disabled):not(.disabled).active,
  .show > .btn-outline-sub.dropdown-toggle {
    color: #fff;
    background-color: #194055;
    border-color: #194055;
  }
  
  .btn-outline-sub:not(:disabled):not(.disabled):active:focus, .btn-outline-sub:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-sub.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }

  .text-green{
    color:#75BA40;
  }


  /* FOR TEXTBOXES or INPUT BOXES  */
  .was-validated .custom-select:valid {
    background-image: none;
  }
  
  
  .was-validated .custom-select:invalid {
  background-image: none;
  }

  .form-control.is-invalid, .form-control.is-valid{
      background-image: none;
  }

  .invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
}

body {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.p-pic{
  height:150px;
  width:150px;
}

.border-clg
{
  border-radius: 100px;
  border:5px solid #72b944;
}

.bg-gr
{
  background: rgb(114,185,68);
  background: linear-gradient(0deg, rgba(114,185,68,1) 0%, rgba(25,64,85,1) 100%);
}

.rounded-input
{
  border-radius:100px;
}